*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Staatliches', cursive;
}
.row
{
    max-width: 1500px;
    margin: 0px;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: none;
}

.main-nav li a:hover
{
    border: 3px solid white;
    border-radius: 12px;
    transition: all 0.3s ease-out;
    opacity:0.8 ;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    border-radius: 12px;
}

.content
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 170px;
    
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 8px;
    width: fit-content;
    margin-left: 250px;
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(trident.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.button
{
    margin-top: 30px;
    margin-left: 600px;
    width: fit-content;
}

.btn
{
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 10px; 
    border: 1px solid white;
}


.btn:hover
{
    background-color: #ca2017;
    transition: all 0.3s ease-in; 
    color: black; 
    border-radius: 10px; 
    border: none;
}

.logo img
{
    width: 75px;
    height: 75px;
    margin-top:  35px;
    margin-left: 35px;
    float: left;
}

.logo img: hover
{
    cursor: pointer;
}









